<header class="hero-unit" id="banner">
  <h1>Search</h1>
</header>
<div class="container">
  <br>
  <form name="seachForm" ng-submit="search(searchModel)">
    <formly-form model="searchModel" fields="searchFields" options="options">
      <button type="submit" ng-disabled="searchForm.$invalid">Search</button>
    </formly-form>
  </form>
  <br>
  <div ng-show="searchResult.boxes.length > 0" class="boxes">

    <h2>Boxes</h2>
    <table class="table table-hover ">
      <thead>
        <tr>
          <th>Barcode</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in searchResult.boxes ">
          <td>{{ x.Barcode }}</td>
          <td>{{ x.Description }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-show="searchResult.items.length > 0" class="items">
    <h2>Items</h2>
    <table class="table table-hover ">
      <thead>
        <tr>
          <th>Barcode</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in searchResult.items ">
          <td>{{ x.Barcode }}</td>
          <td>{{ x.Description }}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
